        <section id="searchBar">
                       <div class="row">
                            <div class="col col-left-center col-full-xs">
                            </div>
                        </div>
                          <div class="row" >                   
                          <div class="row" >                   
                           </div>
        </section>
         <section id="trending">
                       <div class="row">
                            <div class="col col-left-center col-full-xs">
                            </div>
                        </div>
                          <div class="row watchlist-title" >                   
                           <h1 class="flash">Popular Movies</h1>
                          </div>
        </section>
            <div class="row movie-card-container">

                <div class="col col-left-center col-full-xs" id="searchResult">
                      {{!-- <div class="col col-left-center col-full-xs searchtext">
                          <h2>Trending<span id=>{{movieSearch}}</span></h2 >
                      </div> --}}
            <ul>
                {{#each data}}
                
                  <div class="card-container">
        
                <div class="card">
                    <div class="card__inner">
                        <div class="card__face card__face--front">
                            <img src=http://image.tmdb.org/t/p/w185{{this.poster_path}} alt="Lights">
                        </div>
                        <div class="card__face card__face--back">
                            <div class="card__content">
                                <div class="card__header">
                                    <h4 class="media-heading" style="font-style: 'Source Sans Pro', sans-serif">{{this.title}} ({{this.release_date}}) </h4>
                                </div>
                                <div class="card__body">
                                    
                          <h5 class="rating">{{this.popularity}} <span class="glyphicon glyphicon-star"></span>{{this.vote_average}}  <span class="glyphicon glyphicon-thumbs-up"></span></h5>
                                                    
                          <h6 class="overview"> {{this.overview}}</h6>
                           <form action="/api/watchlist" method="POST">
                                 <input type='hidden' name="movieID" value={{this.id}}>
                                 <button type='submit' class="btn btn-primary watch-later-btn" id="watchlater" style="background: #D73739;">Watch later!</button>
                               </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                </div>
                {{/each}}
            </ul>
                </div> 
            </div>